<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu app</title>
</head>
<body>
    {{{body}}} 
</body>
</html>
{{!-- npm i express, npm i express-handlebars --}}
{{!-- estrutura do diretório <-, o views tem q ser views, e todas as páginas dentreo do body fica dentro da views --}}
{{!-- dentro do body vai exibir o conteudo de formulario e postagem, chamando elas --}}